<body>

	<header>
		<h1> Welcome </h1>
	</header>

	<p class="bodycenter">
		<%= image_tag("mochila2.jpg", height: "300", width: "320", align: "center") %>
		<%= image_tag("Portatil_Acer.jpg", height: "300", width: "350", align: "center") %>
	</p>

	<p class="bodycenter">
		<%= link_to "Backpacks", backpacks_path(@backpack) %>   |  
		<%= link_to "Laptops", laptops_path(@laptop) %>              
	</p>

</body>
