h1 { 
	color:purple; 
	text-align:center; 
	background-color:#ADFF2F; 
	font-family:cursive; 
	padding:30px; 
	border:5px solid black
}

h2 {
	color:#8B0000; 
	text-decoration:underline; 
	font-family:Calibri;
}

p {
	font-family:calibri;
}

.styleblack {
	color:black; 
	font-family:Calibri;
}

.stylemarino {
	color:#483D8B; 
	font-family:Calibri;
}

.stylepurple {
	color:purple; 
	font-family:Calibri;
}

.bodycenter {
	text-align:center;
}

.bodycolor {
	background-color:#F5F5DC;
}